html {
  font-size: 14px;
}

h1 {
    font-size: 24px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.tr_style:hover {
        background-color: #fcfcfe;
      
    }

.tr_style:hover td {
        background-color: transparent; /* or #000 */

    }
